body {
   font-family: Roboto;
   color: #212121;
}
h1 {
    color: #FFFFFF;
    background-color: #2F303A;
    line-height: 136%;
}
h2 {
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    line-height: 16.41px;
}
.link {
    text-decoration: none
}
.menu-logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
    font-style: normal;
    text-decoration: none;
}
.menu-logo:hover {
    color: #2196F3;
}
.menu-logo:focus {
    color: #2196F3;
    border: none;
}
.menu-logo-right {
    color: #212121;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
    text-decoration: none;
}
.menu-logo-right:hover {
    color: #2196F3;
}
.menu-logo-right:focus {
    color: #2196F3;
    border: none;
}
.menu-small {
    color: #212121;
    font-size: 14px;
    font-weight: 500px;
    line-height: 16.41px;
    text-decoration: none;
}
.menu-small:hover {
    color: #2196F3;
}.menu-small:focus {
    color: #2196F3;
    border: none;
}
.menu-small-contact {
    color: #757575;
    font-size: 14px;
    font-weight: 500px;
    line-height: 16.41px;
    text-decoration: none;
}
.menu-small-contact:focus {
    color: #2196F3;
}
.menu-small-contact:hover {
    color: #2196F3;
    border: none;
}
.main-index-button {
    cursor: pointer;
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    color: #F5F4FA;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    border:#2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.main-index-button:hover {
    color:#757575;
    cursor: pointer;
}
.main-index-button:focus {
    color: #2196F3;
}
.portfolio-list-button {
    width: 121px;
    height: 38px;
    background: #F5F4FA;
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;

    border-radius: 4px;
    border: none;
    list-style: none;
}
.portfolio-list-button:hover {
    color: #F5F4FA;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.portfolio-list-button:focus{
    color: #F5F4FA;
}
.clean-list {
    list-style: none;
}
.textinbold {
    font-size: 18px;
    font-weight: 700px;
}
.text{
    font-size: 16px;
    font-weight: 400px;
    color: #757575;
}
footer {
    background-color: #2F303A;
}
.menu-logo-right-footer {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
    font-style: normal;
    text-decoration: none;
}
.menu-logo-right-footer:hover {
    color: #2196F3;
}
.menu-logo-right-footer:focus {
    color: #2196F3;
    border: none;
}
.adres-footer {
    color: #FFFFFF;
    line-height: 16.41px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
.contact-footer {
    color: rgba(255, 255, 255, 0.6);
    line-height: 16.41px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
.contact-footer:hover {
    color: #2196F3;
}
.contact-footer:focus {
    color: #2196F3;
    border: none;
}
.our-team {
    background-color: #F5F4FA;
}