:root {
    --webstudio-color: #2196F3;
    --main-dark-color: #212121;
    --main-grey-color: #757575;
    --main-white-color: #FFFFFF;
    --background-color: #2F303A;
  }
body {
   font-family: Roboto;
   color: var(--main-dark-color);
}
.main-header {
    color: var(--main-white-color);
    background-color:var(--background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
}
.central-header {
    color: var(--main-dark-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.link {
    text-decoration: none
}
.menu-logo {
    color: var(--webstudio-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
    font-style: normal;
    text-decoration: none;
}
.menu-logo:hover {
    color: var(--webstudio-color);
}
.menu-logo:focus {
    color: var(--webstudio-color);
    border: none;
}
.menu-logo-right {
    color: rgba(0, 0, 0, 1);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
    text-decoration: none;
}
.menu-logo-right:hover {
    color: var(--webstudio-color);
}
.menu-logo-right:focus {
    color: var(--webstudio-color);
    border: none;
}
.menu-small {
    color: var(--main-dark-color);
    font-size: 14px;
    font-weight: 500px;
    line-height: 16.41px;
    text-decoration: none;
}
.menu-small:hover {
    color: var(--webstudio-color);
}.menu-small:focus {
    color: var(--webstudio-color);
    border: none;
}
.menu-small-contact {
    color: var(--main-grey-color);
    font-size: 14px;
    font-weight: 500px;
    line-height: 16.41px;
    text-decoration: none;
}
.menu-small-contact:focus {
    color: var(--webstudio-color);
}
.menu-small-contact:hover {
    color: var(--webstudio-color);
    border: none;
}
.main-index-button {
    cursor: pointer;
    background-color: var(--webstudio-color);
    width: 200px;
    height: 50px;
    color: var(--main-white-color);
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    border: var(--webstudio-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.main-index-button:hover {
    color: var(--main-grey-color);
    cursor: pointer;
}
.main-index-button:focus {
    color: var(--webstudio-color);
}
.portfolio-list-button {
    width: 121px;
    height: 38px;
    background: #F5F4FA;
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-dark-color);

    border-radius: 4px;
    border: none;
    list-style: none;
}
.portfolio-list-button:hover {
    color: var(--main-white-color);
    background-color: var(--webstudio-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.portfolio-list-button:focus{
    color: var(--webstudio-color);
}
.clean-list {
    list-style: none;
}
.textinbold {
    font-size: 18px;
    font-weight: 700px;
}
.text{
    font-size: 16px;
    font-weight: 400px;
    color: var(--main-grey-color);
}
.footer-area {
    background-color: var(--background-color);
}
.menu-logo-right-footer {
    color: var(--main-white-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
    font-style: normal;
    text-decoration: none;
}
.menu-logo-right-footer:hover {
    color: var(--webstudio-color);
}
.menu-logo-right-footer:focus {
    color: var(--webstudio-color);
    border: none;
}
.adres-footer {
    color: var(--main-white-color);
    line-height: 16.41px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
.contact-footer {
    color: rgba(255, 255, 255, 0.6);
    line-height: 16.41px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
.contact-footer:hover {
    color: var(--webstudio-color);
}
.contact-footer:focus {
    color: var(--webstudio-color);
    border: none;
}
.our-team {
    background-color: var(--main-white-color);
}