body {
   font-family: Roboto;
   color: #212121;
}
a {
    text-decoration: none;
}
a:hover {
    color: #2196F3;
}
a:focus {
    color: #2196F3;
}
button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
}
button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
}
h1 {
    color: #FFFFFF;
    background-color: #2F303A;
    line-height: 136%;
}
h2 {
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    line-height: 16.41px;
}
.menu-logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
    font-style: normal;
}
.menu-logo-right {
    color: #212121;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
}
.menu-small {
    color: #212121;
    font-size: 14px;
    font-weight: 500px;
    line-height: 16.41px;
    text-decoration: none;
}
.menu-small-contact {
    color: #757575;
    font-size: 14px;
    font-weight: 500px;
    line-height: 16.41px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    }
.portfolio-list-button {
    cursor: pointer;
}
.textinbold {
    font-size: 18px;
    font-weight: 700px;
}
.text{
    font-size: 16px;
    font-weight: 400px;
    color: #757575;
}
footer {
    background-color: #2F303A;
}
.menu-logo-right-footer {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700px;
    line-height: 30.52px;
    font-style: normal;
}
.adres-footer {
    color: #FFFFFF;
    line-height: 16.41px;
    font-size: 14px;
    font-style: normal;
}
.contact-footer {
    color: rgba(255, 255, 255, 0.6);
    line-height: 16.41px;
    font-size: 14px;
    font-style: normal;
}
.our-team {
    background-color: #F5F4FA;
}